/* Google Fonts を読み込む */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* 全体を囲うコンテナ */
.container {
  width: 100;
  height: 100vh;
  background-color: #161821;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1.2;
}

/* 時計の共通スタイル */
.clock {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #c6c8d1;
  text-align: center;
}

/* 時計の共通スタイル */
.clock-date {
  font-size: 32px;
}

/* 時計の日付スタイル */
.clock-date {
  font-size: 32px;
}

/* 時計の時間スタイル */
.clock-time {
  font-size: 196px;
}

@media screen and (max-width: 500px){
  .clock-date{
    font-size: 16vw;
  }
  .clock-time{
    font-size: 24vw;
  }
}
